form {
    width: 90%;
    margin: auto;
}

.home {
    margin: 1rem auto auto;;
    text-align: center
}
button {
    width: 100%;
}

.editartexto{
    width: 70%;
    text-align: center;
    margin: 2rem auto auto;

}

